<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Jucksearm. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="{{MODULE_VENDOR}}_{{MODULE_NAME}}" setup_version="{{MODULE_VERSION}}" />
</config>
